.location {
  width: 100%;
  height: 35px;
  text-align: left;
  padding-left: 10px;
  color: #888;
  line-height:  35px;
}

.location h1 {
  margin: 0;
}
.weatherLocation {
  width:  400px;
  padding: 15px;
  font-family: 'Roboto', sans-serif;
  box-shadow: 10px 10px 40px -12px rgba(0, 0, 0, 0.75)
}